body{
    background-color: beige;
}
h1{
    text-align: center;
    color: palevioletred;
}

@media screen and (max-width: 720px){
    body{
        background-color: pink;
    }

    h1{
        color: beige;
    }
  
}